:root {
  font-size: 14px;
  --font: "Source Han Sans SC", "Noto Sans CJK SC", sans-serif;
  --font-code: "JetBrains Mono", "Consolas", monospace;
  --markdown-font-size: 16px;
  --background: #ffffff;
  --content-padding: 28px;
  --font-weight: 300;
  --font-weight-bold: 500;
  --font-color: #3c3c43;
  --font-color-menu: #3c3c43c7;
  --layout-max-width: 1440px;
  /* element color */
  --side-color-back: #f8f8fa;
  --active-color: #f7ab1d;
  --link-color: #5bae50;
  --inline-code-back: #f8f8fa;
  --block-code-back: #f8f8fa;
  --line-number-color: #5c6370;
  /* quote */
  --quote-border-color: #e0e0e0;
  --quote-font-color: #5f5f5f;
  /* keyboard */
  --kbd-color: #f8f8f8;
  --kbd-back: #303030;
  --kbd-shadow-color: #222222;
  /* scrollbar */
  --scrollbar-color: #cccccc;
  --scrollbar-color-hover: #b0b0b0;
  /* border */
  --border-color-normal: #f8f8f8;
  --border-color-heavy: #f0f0f0;
  --border-color-code: #f2f2f2;
  --color-note: #2f81f7;
  --color-tips: #3fb950;
  --color-important: #a371f7;
  --color-warning: #d29922;
  --color-caution: #f85149;
}

:root:not([color-schema="dark"]) {
  --code-color: #72727f;
}

:root[color-scheme="dark"] {
  --background: #1b1b1f;
  --font-color: #fffff5db;
  --font-color-menu: #ebebf599;
  --side-color-back: #161618;
  --code-color: #8b929f;
  --inline-code-back: #272a2f;
  --block-code-back: #161618;
  /* quote */
  --quote-border-color: #303030;
  --quote-font-color: #909090;
  /* keyboard */
  --kbd-color: #202020;
  --kbd-back: #f0f0f0;
  --kbd-shadow-color: #f0f0f0;
  /* scrollbar */
  --scrollbar-color: #333333;
  --scrollbar-color-hover: #404040;
  /* border */
  --border-color-normal: #232326;
  --border-color-heavy: #262629;
  --border-color-code: #191922;
}

* {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 2px;

    &:hover {
      background: var(--scrollbar-color-hover);
      cursor: default;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
  font-family: var(--font);
  font-weight: var(--font-weight);
  color: var(--font-color);
}

strong {
  font-weight: var(--font-weight-bold);
}

#app {
  width: 100%;
  height: 100%;
  display: flex;

  #side {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding-left: calc((100vw - var(--layout-max-width)) / 2);
    padding-right: 2.5em;
    height: 100%;
    overflow: auto;
    background: var(--side-color-back);

    #side-head {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      margin-top: 2.5em;
      margin-left: 2.5em;

      #logo {
        width: 140px;
        height: 140px;
      }

      #name {
        margin-top: 0.25em;
        font-size: small;
        margin-bottom: 0;
      }
    }

    #menu {
      margin-top: 1em;
      margin-left: 3.5em;
      color: var(--font-color-menu);

      ul {
        margin-left: 1em;
        padding: 0;

        &:first-child {
          margin-left: 0;
        }

        li {
          list-style-type: none;
          margin-top: 8px;
          white-space: nowrap;
        }
      }

      a {
        text-decoration: none;
        color: inherit;

        &.active,
        &:hover {
          font-weight: var(--font-weight-bold);
          color: var(--active-color);
          transition: all 200ms linear;
        }
      }
    }
  }

  #main {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    position: relative;

    #toolbar {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0.5em;
      right: 0.5em;
      height: 2.5em;
      padding-right: calc((100vw - var(--layout-max-width)) / 2);
      background: var(--background);

      .icon-button {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        color: var(--font-color);

        &:hover {
          opacity: 0.6;
          transition: all 200ms linear;
        }
      }

      @media (min-width: 960px) {
        #menu-btn {
          display: none;
        }
      }

      #theme-btn {
        margin-left: auto;
      }
    }

    #content {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 5em 0 var(--content-padding) 0;
      overflow: auto;
      scroll-behavior: smooth;

      .markdown-body {
        flex: 1;
        min-width: 0;
        max-width: 210mm;
      }

      #nav {
        display: flex;
        min-width: 200px;
        padding-right: calc((100vw - var(--layout-max-width)) / 2);
        color: var(--font-color-menu);
        overflow-x: hidden;

        @media (max-width: 1200px) {
          display: none;
        }

        > ul {
          margin-top: 0;
          border-left: 1.5px solid var(--border-color-heavy);
        }

        ul {
          margin-left: 1em;
          padding: 0;

          &:first-child {
            position: fixed;
            margin-left: 0;
            padding-left: 1em;

            > li:first-child {
              margin-top: 0;
            }
          }

          li {
            list-style-type: none;
            margin-top: 8px;

            a {
              text-decoration: none;
              color: inherit;

              &.active,
              &:hover {
                font-weight: var(--font-weight-bold);
                color: var(--font-color);
                transition: all 200ms linear;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 15mm;
  }

  html,
  body {
    width: 210mm;
    height: auto;
  }

  #side,
  #toolbar,
  #nav {
    display: none !important;
  }

  #content {
    padding: 0 !important;
    overflow: hidden !important;

    .markdown-body {
      padding: 0 !important;
      max-width: 100% !important;
      font-size: 16px;

      .code-content {
        font-size: 14px;
      }
    }
  }
}
