.markdown-body {
  max-width: 900px;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: var(--link-color);
  }

  ul {
    padding-left: 24px;

    li {
      text-indent: -4px;

      &::marker {
        font-size: 0.8rem;
      }
    }
  }

  ol {
    padding-left: 24px;

    li {
      text-indent: -4px;
    }
  }

  pre {
    font-family: "JetBrains Mono", "Consolas", monospace;
    background: var(--block-code-back);
    display: flex;
    flex-direction: column;

    > .code-title {
      display: flex;
      padding: 0.1rem 0.5rem;
      border-bottom: 1px solid var(--border-color-heavy);

      .language-name {
        color: var(--line-number-color);
        font-variant: all-small-caps;
        margin-left: auto;
      }
    }

    > .code-content {
      line-height: 1.25rem;
      display: flex;

      > .gutter {
        display: block;
        margin: 0;
        padding: 0.5rem;
        border-right: 1px solid var(--border-color-heavy);
        line-height: inherit;

        > .line-number {
          color: var(--line-number-color);
          text-align: right;
          font-size: 100%;
          display: block;

          &::before {
            content: attr(data-line);
          }
        }
      }

      > code {
        flex: 1;
        display: block;
        padding: 0.5rem;
        overflow-y: hidden;
        overflow-x: auto;
      }
    }
  }

  code {
    font-family: "JetBrains Mono", "Consolas", monospace;
  }

  :not(pre) code {
    color: var(--inline-code-color);
    background: var(--inline-code-back);
    padding: 0 4px;
    border-radius: 2px;
  }

  blockquote {
    margin: 0;
    padding: 1px 12px;
    border-left: 6px solid var(--quote-border-color);
    background: var(--quote-back-color);
    color: var(--quote-font-color);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    --cell-padding: 0.5rem;

    thead {
      tr {
        border-top: 1px solid var(--border-color-heavy);
        border-bottom: 1px solid var(--border-color-heavy);

        th {
          padding: var(--cell-padding);
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color-normal);
      }

      td {
        padding: var(--cell-padding);
      }
    }
  }

  kbd {
    font-family: "JetBrains Mono", "Consolas", monospace;
    border-radius: 2px;
    padding: 1px 5px;
    box-shadow: 1px 1px 1px var(--kbd-shadow-color);
    margin: 2px;
    background: var(--kbd-back);
    font-weight: var(--font-weight-bold);
    font-size: small;
    text-transform: uppercase;
    color: var(--kbd-color);
    cursor: pointer;
  }
}
