.markdown-body {
  font-size: var(--markdown-font-size);
  line-height: 1.5em;
  padding: 0 2.5em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);
    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.15em;
  }

  hr {
    margin: 2em 0;
    color: var(--border-color-heavy);
    border: 1px solid var(--border-color-heavy);
  }

  a {
    color: var(--link-color);
    font-weight: var(--font-weight-bold);
  }

  li {
    line-height: 1.8em;
  }

  ol {
    padding-left: 1.5em;
  }

  ul {
    padding-left: 1.5em;

    li::marker {
      font-size: 0.8em;
    }

    li.todo-list {
      text-indent: 0.25em;

      &::marker {
        font-size: 1em;
      }

      &.checked::marker {
        content: "✅";
      }

      &.unchecked::marker {
        content: "⬜";
      }
    }
  }

  pre.mermaid {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1.5em;

    > * {
      width: 100%;
    }
  }

  pre {
    display: flex;
    flex-direction: column;
    font-family: var(--font-code);
    background: var(--block-code-back);

    > .code-title {
      display: flex;
      padding: 0.1em 0.5em;
      border-bottom: 1px solid var(--border-color-code);

      .language-name {
        color: var(--line-number-color);
        margin-left: auto;

        &:after {
          content: attr(data-lang);
          font-weight: var(--font-weight-bold);
          font-variant: all-small-caps;
        }
      }
    }

    > .code-content {
      line-height: 1.3em;
      display: flex;

      > .gutter {
        display: block;
        margin: 0;
        padding: 0.5em;
        border-right: 1px solid var(--border-color-code);
        line-height: inherit;

        > .line-number {
          color: var(--line-number-color);
          text-align: right;
          font-size: 100%;
          display: block;

          &::before {
            content: attr(data-line);
          }
        }
      }

      > code {
        flex: 1;
        display: block;
        padding: 0.5em;
        background: inherit;
        overflow-y: hidden;
        overflow-x: auto;
      }

      [contenteditable] {
        outline: none;
        border: none;
      }
    }
  }

  code {
    font-family: "JetBrains Mono", "Consolas", monospace;
  }

  code:not(.hljs) {
    color: var(--inline-code-color);
    background: var(--inline-code-back);
    padding: 1px 6px;
    border-radius: 6px;
  }

  blockquote {
    margin: 0;
    line-height: 1.5em;
    border-left: 3px solid var(--quote-border-color);
    color: var(--quote-font-color);

    > p {
      padding: 0.25em 1em;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    --cell-padding: 0.5rem;

    thead {
      tr {
        border-top: 1px solid var(--border-color-heavy);
        border-bottom: 1px solid var(--border-color-heavy);

        th {
          padding: var(--cell-padding);
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid var(--border-color-normal);
      }

      td {
        padding: var(--cell-padding);
      }
    }
  }

  kbd {
    font-family: "JetBrains Mono", "Consolas", monospace;
    border-radius: 2px;
    padding: 1px 5px;
    box-shadow: 1px 1px 1px var(--kbd-shadow-color);
    margin: 2px;
    background: var(--kbd-back);
    font-weight: var(--font-weight-bold);
    font-size: small;
    text-transform: uppercase;
    color: var(--kbd-color);
    cursor: pointer;
  }

  .alert {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    padding: 0 1em;
    font-size: small;
    border-left-width: 3px;
    border-left-style: solid;

    > p {
      margin: 0.5em 0;
    }

    .title {
      display: flex;
      align-items: center;
      font-weight: var(--font-weight-bold);
      text-transform: capitalize;

      > svg {
        margin-right: 0.5em;
      }
    }

    &.note {
      border-left-color: var(--color-note);

      .title {
        color: var(--color-note);
      }
    }

    &.tips {
      border-left-color: var(--color-tips);

      .title {
        color: var(--color-tips);
      }
    }

    &.important {
      border-left-color: var(--color-important);

      .title {
        color: var(--color-important);
      }
    }

    &.warning {
      border-left-color: var(--color-warning);

      .title {
        color: var(--color-warning);
      }
    }

    &.caution {
      border-left-color: var(--color-caution);

      .title {
        color: var(--color-caution);
      }
    }
  }
}
